.card{
    cursor: pointer;
    background-color: rgb(243, 243, 243);
    width: 30%;
    margin: 5px;
    outline: none;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 10px;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    .card-content{
        width: 70%;
        span{
            border-radius: 15px;
            padding-left: 2%;
            padding-right: 2%;
            width: 100%;
            
        }
        h3{
            color: rgb(78, 78, 78);
            text-decoration: none;
        }
        h3:hover{
            color: black;
            text-decoration: underline;
        }
    }
    button{
        cursor: pointer;
        outline: none;
        background-color: rgb(60, 177, 60);
        height: max-content;
        padding: 2px 5px 2px 5px;
        color: white;
        border: none;
        border-radius: 15px;
        font-size: 14px;
        padding: 2%;
        transition: all 500ms;
    }
    button:hover{
        border: 1px solid black;
        background-color: green;
    }
    
    
}
.card:hover{
    background-color: rgb(240, 240, 240);
    box-shadow: 1px 1px 5px 1px rgb(211, 211, 211);
}